# Creation de Dataframe

* on va creer un data frame avec le module pandas
* j'espere que les etudiants vont comprendre

In [2]:
import pandas as pd
data = {'prenom': ['Alain', 'Abdel', 'Annie', 'Toto', 'Momo'],
        'nom': ['Flouflou', 'Clairclair', "?", 'Icano', 'Jolie'],
        'age': [42, 52, 36, 24, 73],
        'noteintra': [48, 84, 91, "?", "?"],
        'notefinal': ["92,50", "94,00", 77, 63, 75]}

In [3]:
# creation du DF
df = pd.DataFrame(data, columns=['prenom', 'nom', 'age', 'noteintra', 'notefinal'])

In [4]:
df

  prenom         nom  age noteintra notefinal
0  Alain    Flouflou   42        48     92,50
1  Abdel  Clairclair   52        84     94,00
2  Annie           ?   36        91        77
3   Toto       Icano   24         ?        63
4   Momo       Jolie   73         ?        75